#slot_machine {
  position: relative;
  margin: auto;
  width: 625px;
}

#slot_machine > .header {
  position: absolute;
}

#slot_machine > .slot {
  position: absolute;
  top: 109px;
  border-radius: 25px;  /* rounded corners */
}

#slot_machine > .handle {
  cursor: pointer;
}
